body {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
}

h3 {
margin-bottom: 30px;
}

li {
margin-bottom: 10px;
}

.now_status {
  font-weight: 600
}

img.kusa {
  width: 105%;
  height: 105%;
}
